<nav>
  <a href="/" id="index">回到首頁</a>
  <div class="nav-items">
    <a href="/about" id="about">About</a>
    <a href="/portfolio" id="portfolio">Portfolio</a>
    <a href="/contact" id="contact">Contact</a>
  </div>
</nav>
<div class="main">
  <h1>首頁</h1>
</div>